.sales-analytics {
	margin-top: 2rem;
}

.sales-analytics h2 {
	margin-bottom: 1rem;
}

.add-product {
	color: var(--color-primary);
	background: transparent;
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	padding: 1.4rem var(--card-padding);
	border: 2px dashed var(--color-primary);
	border-radius: var(--border-radius-3);
	transition: all 0.15s ease-in;
	overflow: auto;
}

.add-product:hover {
	cursor: pointer;
	transform: translateY(-0.7px);
}

.add-product--icon {
	font-size: 2.5rem;
}
