.insight--icon {
	padding: 0.5rem;
	border-radius: 50%;
	color: var(--color-white);
	font-size: 3.5rem;
}

.insights--main-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.insights--text h3 {
	margin: 1rem 0 0.6rem;
	font-size: 1.6rem;
	letter-spacing: -0.2px;
}

.insights--text p {
	font-size: 2.5rem;
	font-weight: 800;
	line-height: 1.2;
	color: black;
}

.insights--progress {
	position: relative;
	width: 9.2rem;
	height: 9.2rem;
	border-radius: 50%;
}

.insights--progress svg {
	width: 9rem;
	height: 9rem;
}

.insights--progress svg circle {
	fill: none;
	transform: translate(5px, 5px);
	stroke: var(--color-primary);
	stroke-linecap: round;
}

.insights--percentage {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	font-weight: 800;
	color: var(--color-primary);
}

.insight small {
	display: inline-block;
	margin-top: 2rem;
	font-size: 1.2rem;
}
