aside {
	height: 100vh;
}

aside .top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 2.5rem;
}

aside .logo {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

aside .logo h3 {
	font-size: 2.75rem;
}

aside .logo h3 .logo--first-text {
	color: var(--color-yellow);
}

aside .logo-img {
	width: 5rem;
}

aside .close {
	display: none;
}

aside .close-icon {
	font-size: 1.5rem;
	color: var(--color-info-dark);
}
